@import 'utils/styles/main.scss';
@import 'utils/styles/hero-title.module';
@import 'utils/styles/animation';


.hero{
  position: relative;
  box-sizing: content-box;
  // margin-top: 100px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heroMenu{
  display: block;
  // height: 100%;
  text-align: center;
  margin: auto;
  padding: 0;
}

.buttonContainer{
  display: block;
  text-align: center;
  margin: auto;
// width: auto;
}

.heroButton{
  display: inline-block;
  margin-bottom: 20px; 
  border:none;
  font-size: 15px;
  text-decoration: underline;
  background-color: transparent;
  opacity: 0;
  // outline: 1px solid green;
  color: $text-secondary-color;
  &:hover,
  &:focus{
    cursor: pointer;
    transform: scale(1.2);
    color:$accent-primary-color;
  transition: transform 250ms $timing-function;
  }
}


.title{
  display: block;
  text-align: center;
  padding-top: 10px;
  margin: auto;
  width: 100%;
  color: $accent-primary-color;
}

.img{
  width: 100%;
  height: auto;
  opacity:0.3;
}

.directionContent{
  margin-bottom: 20px;
}

.heroText{
  font-family: 'GothamPro', sans-serif;
  font-size:12px;
  color: rgba(199, 195, 93, 0.87);
}

@media screen and (min-width: $mobile) {
  .hero{
    // margin-top: 50px;
    padding-top: 50px;
  }

  .directionContent{
    margin-bottom: 20px;
  }

  .heroText{
    font-size:14px;
    margin-bottom: 20px;
  }
}
  

@media screen and (min-width: $tablet) {
  .hero {
    // margin-top: 100px;
    padding-top: 100px;

  }
  .heroMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }


  .directionContent {
    margin-bottom: 30px;
  }

  .heroButton {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .heroText {
    font-size: 14px;
    margin-bottom: 20px;
  }

}

@media screen and (min-width: $desktop) {
  .hero{
    // margin-top: 200px;
    padding-top: 200px;
  }

  .directionContent{
    margin-bottom: 50px;
  }

  .heroButton {
    margin-bottom: 10px;
    font-size: 30px;
  }

  .heroText{
    font-size:20px;
  }


}